<h1>Welcome to Auctioneer</h1>
<p>Your account has been created with the following details:</p>
<p>Email: <%= @user.email %></p>
<p>Password: <%= @password %></p>
<p>You can change your credentials by logging in to your account</p>
