<div class="flex gap-2">
  <div
  class="relative grid select-none items-center whitespace-nowrap rounded-lg border border-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-gray-700">
   <span class=""><%= bid.amount %></span>
  </div>
</div>
