<section class="absolute bg-gradient-to-tr from-[#b1fcfc] to-[#f2b0fc] p-8 rounded-tr-full overflow-hidden top-0 right-0 transform rotate-180 w-64 h-64">
<section class="absolute bg-gradient-to-tr from-[#b1fcfc] to-[#f2b0fc] p-8 rounded-full overflow-hidden top-0 right-0 transform w-56 h-56">
</section>
</section>
<section class="absolute bg-gradient-to-tr from-[#b1fcfc] to-[#f2b0fc] p-8 rounded-b-full overflow-hidden left-0 top-0 transform w-64 h-32">
    <div class="absolute bg-gradient-to-tr from-[#b1fcfc] to-[#f2b0fc] p-8 rounded-full overflow-hidden bottom-0 transform translate-x-1/2 -translate-y-1/2 w-32 h-32">
    </div>
</section>
