<div data-controller="previews">
  <%= form.label :preview_image, class: "block text-sm leading-6 text-gray-900 font-bold mt-2"  %>
  <%= form.file_field :preview_image,
    direct_upload: true,
    accept: ".jpg,.jpeg,.png,",
    required:true,
    data: { previews_target: "input", action: "change->previews#preview" },class:"inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full cursor-pointer hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md border-2 border-gray-400" %>
  <div class="image-container">
    <% if product.preview_image.attached? %>
      <%= image_tag product.preview_image, data: { previews_target: "preview" }, class: "w-64 h-64" %>
    <% else %>
      <%= image_tag "", data: { previews_target: "preview" }, class: "image" %>
    <% end %>
  </div>
</div>
