<nav class="w-64 bg-gray-800 h-full p-4">
  <ul class="space-y-2">
    <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Users</a></li>
    <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Products</a></li>
    <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Auction results</a></li>
    <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Logout</a></li>
  </ul>
</nav>
