
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-green-700 font-sans">

<%= render "layouts/flash" %>
  <div class="flex h-screen bg-white">
  <%= render "layouts/navbar" %>
    <div class="flex-1 p-6 overflow-hidden">
      <%= yield %>
    </div>

  </div>

</body>
</html>
