
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seller Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-green-700 font-sans">
<%= render "layouts/flash" %>
  <div class="flex h-screen bg-white">
  <nav class="w-64 bg-gray-800 h-full p-4 relative" style="background-image: url('/assets/infos-bg.jpg'); background-size: cover; background-position: center; border-right: 1px solid #4a5568; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
  <div>
  <img class="mx-auto h-50 w-auto" src="<%= asset_path('icons8-auction-100.png') %>" alt="Auctioneer"><p>Auctioneer</p>
    <ul class="space-y-2">
      <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Users</a></li>
      <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Products</a></li>
      <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Auction results</a></li>
      <li><a href="#" class="block py-2 px-4 text-white hover:bg-gray-700">Logout</a></li>
    </ul>
  </div>
</nav>

    <div class="flex-1 p-6 overflow-hidden">
      <%= yield %>
    </div>

  </div>

</body>
</html>
